.rental {
  margin: auto 40px ;
  width: 90%;
  display: flex;
  flex-direction: column;
  
  justify-content: center;
}
.sub-tabs{
  background-color: white!important;
  color:black!important;
}
.sub-tabs h1{
  color:black!important;
}