@import "~react-image-gallery/styles/css/image-gallery.css";

.rental {
  margin: auto 40px ;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .content-for-bund-item{
   display: flex;
   &__info {
    flex : 4 ;
    margin-left: 15px;
   }
   &__images {
     flex : 6
  }
  }
}
.sub-tabs{
  background-color: white!important;
  color:black!important;
}
.sub-tabs h1{
  color:black!important;
}